
.weather
{   display: flex;
    flex-direction: row;
    margin-left:50px;
     margin-top:1rem;
     flex-wrap: wrap;
}
.mainWeather
{
    display:flex;
    flex-wrap: wrap;
   
}
.city
{
   font-size: 20px;
   text-align: centre;
   margin-left: 2rem;
   color:aliceblue;
}
.dateTime
{
    color:aliceblue;
}
.iconAndCountry
{
  
    color:aliceblue;
    width:150px;
}
.weatherIcon
{
    width:30px;
    margin-left:1rem;
  
}
.pressureIcon
{
    width:50px;
    margin-left:2rem;
}
.humidityIcon
{
    width:50px;
    margin-left:2rem;
}


.temperature
{
    width:280px;
    font-size: 100px;
    margin-left:4rem;
    margin-top:3rem;
    color:aliceblue;
}
.otherComponents
{
    display:flex;
    box-shadow: 7px 7px 15px rgba(0, 0, 0, 1);
    flex-direction: column;
    border:1px solid ;
    border-color: aliceblue;
    border-radius:15px;
   height:180px; width:400px;
    text-align: center;
    margin-top:0.2rem;
    margin-left:0.5rem;
    transition: width 0.3s ease, height 0.3 ease;
}
.otherComponents:hover
{
    width:405px;
    height:190px;

}
.otherFirstRow
{
    display:flex;
    flex-direction:row;
}
.otherSecondRow
{
    display:flex;
    flex-direction: row;
}
.pressure
{
    flex:1;
    color:aliceblue;
    margin-top:0.5rem;
    
}
.humidity
{
    flex:1;
    margin-top:0.5rem;
    margin-left:2rem;
    color:aliceblue;
    
    
}

.sunrise
{
    flex:1;
    margin-top:0.5rem;
    color:aliceblue;
    margin-left:2rem;
   
}
.wind
{
    flex:1;
    color:aliceblue;
    margin-top:1rem;
}
.windDirection
{
    flex:1;
    color:aliceblue;
    margin-top:1rem;
}
.visibility
{
    flex:1;
    color:aliceblue;
    margin-top:1rem;
}