#root
{
    --button-colour :  #555;
    --background-colour:  lightcyan;
    --button-background: #ebfffc;
}
body
{
    margin-left:50px;
    margin-right:50px;
}

.searchBar
{ margin-top:1rem;
    display:flex;
    background:var(--background-colour);
    border-radius: 30px;
    width:45%;
}
.searchInput
{
    border-color:transparent;
    margin-top:1rem;
    margin-left:1rem;
    background:var(--background-colour);
    width:100%;
    outline: none;
}
.searchButton
{
   border-color:transparent;
   background:var(--background-colour);
    border-radius: 50%;
    margin-top:0.5rem;
    height:50px;
    padding: 1px 2px;
    margin-left:3rem;
    margin-right:0.5rem;
    cursor: pointer;
} 
/* 
.search
{
    background:var(--background-colour);
   
}
.searchBarWrap
{
 
    display:flex;
    width:100%;
    height:50px;
    margin-top:2rem;
    padding: 10px 25px;
    border-radius: 30px;
}
.searchBar
{
    flex:1;
    width:650px;  
}


*/
/* 
.searchBar
{
     background:var(--background-colour);
    color: var(--button-colour);
    padding: 10px 25px;
   
    border-radius: 30px;
    text-align: left; 
    display: flex;
    flex-direction: row;
}


.searchInput
{
    flex: 1;
    background:var(--background-colour);
    border-radius: 30px;
    font-size: 18px;
    width:80%;
    margin-right: 16px;
    
}

.searchButton
{
    margin-right:500px;
    background:var(--background-colour);
    
    height: 50px;
    cursor: pointer;
} */