.fiveDay
{
   margin-left:1.5rem;
    margin-top:1rem;
    color:aliceblue;
}
.title
{
    color:aliceblue; 
}
.threeHourTitle
{
    margin-top:1rem;
    color:lightcyan;
    font-size:20px; 
    margin-left:3rem;  
}
.weatherIcon
{
    margin-top:0.5rem;
    margin-left:4.1rem;
   
}

.firstLineComponent
{
    flex-wrap: wrap;
    display:flex;
}
.secondLineComponent
{
    flex-wrap: wrap;
    margin-top:2rem;
    display:flex;
}
.firstComponent
{
    
    /* border:1px solid ;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 1);
    border-color: aliceblue;
    border-radius:15px;
    text-align: center;
    margin-top:1rem; */
    box-shadow:  7px 7px 15px rgba(0, 0, 0, 1);
    border:1px solid ;
    border-color: aliceblue;
    border-radius:15px;
    height:100px; width:180px;
    text-align: center;
    margin-left:2.5rem; 
    margin-top:1rem;
    transition: width 0.3s ease, height 0.3 ease;
}
.secondComponent
{
    box-shadow: 7px 7px 15px rgba(0, 0, 0, 1);
    border:1px solid ;
    border-color: aliceblue;
    border-radius:15px;
    height:100px; width:180px;
    text-align: center;
    margin-left:2.5rem; 
    margin-top:1rem;
    transition: width 0.3s ease, height 0.3 ease;
}
.thirdComponent
{
    box-shadow:  7px 7px 15px rgba(0, 0, 0, 1);
    border:1px solid ;
    border-color: aliceblue;
    border-radius:15px;
    height:100px; width:180px;
    text-align: center;
    margin-left:2.5rem; 
    margin-top:1rem;  
    transition: width 0.3s ease, height 0.3 ease;
}
.fourthComponent
{
    box-shadow:  7px 7px 15px rgba(0, 0, 0, 1);
    border:1px solid ;
    border-color: aliceblue;
    border-radius:15px;
    height:100px; width:180px;
    text-align: center;
    margin-left:2.5rem; 
    margin-top:1rem; 
    transition: width 0.3s ease, height 0.3 ease;

}
.fifthComponent
{
    
    box-shadow:  7px 7px 15px rgba(0, 0, 0, 1);
    border:1px solid ;
    border-color: aliceblue;
    border-radius:15px;
    height:100px; width:180px;
    text-align: center;
    margin-left:2.5rem; 
    margin-top:1rem;
    transition: width 0.3s ease, height 0.3 ease;
}

.fifthComponent:hover
{
    width:182px;
    height:105px;

}
.firstComponent:hover
{
    width:182px;
    height:105px;

}

.thirdComponent:hover
{
    width:182px;
    height:105px;

}

.fourthComponent.hover{
    width:182px;
    height:105px;

}
.secondComponent:hover
{
    width:182px;
    height:105px;

}