
    :root
{
    width: 100%;
    height: 100vh;
    --background-color: #26273B;
}
html,
body {
    font-family: 'Poppins', sans-serif;
   background:var(--background-color);
   /* margin-left:3rem;
   margin-right:3rem; */
}
@media screen and (max-width: 600px) {
.fiveDayForecast
{
    margin-top:2rem;
    flex-wrap: wrap;
    margin-left:2rem;
}
.pageWrap
{
    display:flex;
    margin-left:10rem;
}
.mainPage
{
    display:flex;
   
}
.loading
{
    margin-left:300rem;
    margin-top:100rem;
}
.weatherToday
{
    margin-left:80rem;
}




}