:root
{
    width: 100%;
    height: 100vh;
    --background-color: #26273B;
}
html,
body {
    font-family: 'Poppins', sans-serif;
   background:var(--background-color);
}

.mainPage
{
    display: flex;
    width:40%
}
.weatherToday
{
    flex:1;
   
}