:root {
    --background-color: black;
    --text-color: white;
    --buttonCode-color:   lightcyan;
   
}

/* body {
    font-family: 'Arial', sans-serif;
    background-color: #fff;
    margin: 0;
    display: flex;
    align-items: center;
    
    height: 100vh;
} */
/* .toggleLogin {
    background-color: transparent;
    padding: 20px;
    border:1px solid ;
    border-color: aliceblue;
    border-radius:15px;
    height:100px; width:100px;
    text-align: center;
}
.loginComponents {
    margin-top: 2rem;
    margin-left: 2rem;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    height: 400px;
}
.registerAccount {
    
    margin-left:5rem;
    margin-top:5rem;
}







.button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width:130px;
    margin-left:3rem;
    text-decoration:none;
}

.buttonRegister {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 130px;
    margin-left: 1rem;
    text-decoration: none;
}
.registerText {
    margin-top:3rem;

}*/
.toggleLogin
{
    background-color: transparent;
    padding: 20px;
    border:1px solid ;
    border-color: aliceblue;
    border-radius:15px;
    height:400px; width:380px;
    text-align: center;
    margin-left:18rem;
    margin-top:5rem;
    color: aliceblue;
}
.loginComponents
{
    margin-top:0.1rem;
}
.loginForm
{
    font-weight: bold;
    font-size:25px;
    color:aliceblue;
}

.userName {
    margin-top: 2rem;
    margin-bottom: 8px;
    font-weight: bold;
}

.password {
    margin-top: 1rem;
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}
.inputUserName {
   
    width:250px;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.invalidMessage
{
  
    font-size:0.8rem;
    font-style:italic;
    font-weight:lighter;
    color:#8b0000;
}
.inputPassword
{
    width:250px;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.button
{
    padding: 0px 10px;
    border-radius: 5px;
    cursor: pointer;
    width:100px;
    height:30px;
    outline:none;
    background-color: lightcyan;
}